BOT_NAME=MULLER-XMD
OWNER_NUMBER=234XXXXXXXXXX
OWNER_NAME=Muller
PREFIX=.
SESSION_DIR=./auth
BOT_MODE=public
LOG_LEVEL=info
AUTH_METHOD=pairing
PAIRING_NUMBER=
WHITELIST_DOMAINS=
ANTI_CRASH=true
COMMAND_COOLDOWN_MS=1500
BROADCAST_DELAY_MS=1500
